@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-collapse {
  flex-grow: 0 !important;
}

ul {
  list-style-type: none;
  margin: 0 !important;
  padding: 0;
  overflow: hidden;
}

.navbar-nav {
  float: left;
}

.navbar-nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-nav a:hover:not(.active) {
  background-color: transparent;
}

.active {
  background-color: #04aa6d;
}

                                            /*home page css */

.home{
  margin-left: 500px;
}
.home-card{
  max-width: 500px ;
  height: max-content;
}

/*login*/
.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;

}

.mycard{
  margin-top: 30px;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(27, 62, 218) !important;
  box-shadow: 0 1px 0 0 rgb(62, 24, 231) !important;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid rgb(27, 62, 218) !important;
  box-shadow: 0 1px 0 0 rgb(62, 24, 231) !important;
}


.logo, h2{
  font-family: 'Grand Hotel', cursive;
  font-size: 2.1rem !important;
  text-decoration: none !important;
  display: inline-block;
}

.mycard {
  margin: 30px;
}

.auth-card {
  margin: 10px auto;
  padding: 20px;
  text-align: center;
  max-width: 400px;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}


.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: 1px solid grey;
  padding-top: 10px;
}

.item{
  width:30%;
  padding-bottom: 10px;
  height: 250px;
}